<% @title = "Hozzászólás '" + h(@info_request.title) + "'" %>

<% if @existing_comment %>
    <div class="errorExplanation" id="errorExplanation"><ul>
    <li>
    <%= user_or_you_capital(@existing_comment.user) %> already
    made this annotation on <%=simple_date(@existing_comment.created_at)%>.
    </li>
    </ul></div>
<% end %>

<%= foi_error_messages_for :comment %>

<h1><%= _('Add an annotation')%></h1>
<h2><%=request_link(@info_request)%></h2>

<p>
<%= _('Annotations are so anyone, including you, can help the requester with their request. For example:')%>
</p>


<p>
    <span class="big"><%= _('Annotations will be posted publicly here, and are <strong>not</strong> sent to {{public_body_name}}.', :public_body_name=>h(@info_request.public_body.name)) %></span>
    <% if @info_request.is_external? %>
    <span class="big"><%= _('Note that the requester will not be notified about your annotation, because the request was published by {{public_body_name}} on their behalf.', :public_body_name => @info_request.public_body.name) %></span>
    <% end %>
</p>

<%= render :partial => 'comment/comment_form', :locals => { :track_thing => @track_thing } %>
